.custom-nav-bg {
	background-color: #93ba91;
}

.custom-main-bg {
	/* background-color: #CDD7CC; */
	background-color: #ebf9eb;
}

.navbar-brand {
	font-weight: 500;
}

.custom-primary {
	/* background-color: #004040; */
	background-color: #005f5f;
	border: #005f5f;
}

.grid-container {
	 display: grid;
    /* Create three equal columns for the bottom row on larger screens */
   /* ! grid-template-areas: ; */
    /* Set gaps between all grid items */
    gap: 40px; 
    padding-top: 40px;
    /* Limit the maximum width of the container */
    
    width: 100%;
    /* Center the grid items within the container horizontally */
    justify-items: center; 
}

.item {
    background-color: #007bff; /* Blue background */
    color: white;
    padding: 50px 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 2em;
    /* Ensure items take full width of their grid cell */
    
    box-sizing: border-box;
    /* Give all items a fixed aspect ratio for consistent height */
   /*  aspect-ratio: 3 / 2; */
}

.large-item {
    /* Span the large item across all 3 columns */
    grid-column: 1 / span 6; 
    /* Adjust the aspect ratio for the large item */
    aspect-ratio: 4 / 1.5; 
    width: 60%; 
}

/* Media query for mobile screens (screen width up to 600px) */
@media (max-width: 900px) {
    .container {
        /* Switch to a single column layout on smaller screens */
        grid-template-columns: 1fr; 
        /* Increase gap slightly for mobile stack */
        gap: 30px; 
    }

    .large-item, .small-item {
        /* Ensure all items span the single column */
    grid-column: 1 / span 3; 
    }
}

@media (min-width: 1300px) {

    .small-item {
        gap: 4px;
        width: 90%;
        grid-column: 1/ span 3;
    }
}

