/* .custom-nav-bg {
	background-color: #93ba91;
} */

.custom-main-bg {
	/* background-color: #CDD7CC; */
	background-color: #ebf9eb;
}

.layout{
	/* background-color: #CDD7CC; */
	background-color: #ebf9eb;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.success {
	color: #ebf9eb;
}

.navbar-brand {
	font-weight: 500;
}

.custom-primary {
	/* background-color: #004040; */
	background-color: #005f5f;
	border: #005f5f;
}

/* Change border color for a primary button */
.btn-secondary {
	background-color: #93ba91; /* Change to your desired color */
	border-color: #93ba91;
}

/* Change border color on hover */
.btn-secondary:hover {
	border-color: green; /* Change to your desired color */
}

/* Change border color on focus (the blue outline) */
.btn-secondary:focus {
	border-color: purple !important; /* Use !important if needed */
	box-shadow: 0 0 0 0.25rem rgba(128, 0, 128, 0.25) !important; /* Adjust box-shadow to match */
}

.my-anton {
	font-family: "Anton", sans-serif;
}

.my-ultra {
	font-family: "Ultra", serif;
}

.my-agu {
	font-family: "Agu Display", serif;
}

.my-antonio {
    font-family: "Antonio", serif;
}

.my-default {
    font-family: sans-serif;
}

.zone-grid-container {
	
    background-color: #004040; /* Blue background */
	color: white;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
    width: 90vw;
    height: 100vh;
    display: grid;
	gap: 40px;
	width: 100%;
	justify-items: center;
    align-items: center;
}

.zone-item {
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

.intro-text-grid-container {
	display: grid;
	gap: 40px;
	padding-top: 40px;
	width: 100%;
	justify-items: center;
}

.intro-text-item { 
	background-color: #004040; /* Blue background */
	color: white;
	padding: 10px;
	text-align: center;
    align-items: center;
    justify-content: center;
	border-radius: 8px;

	box-sizing: border-box;
	width: 90vw;
}

/* * Search Page */
/* breaks page expanding when search results return */
.search-page {
    min-height: 100vh;
    margin-top: 8vh;
}

.card-container {
    padding-bottom: 40px;
}

.footer-col {
    color:#ebf9eb
}

.foot-row {
    justify-content: space-between;
    padding-top: 4vh;
    color:#93ba91;
}

.link {
    padding: auto;
}
.link:hover {
    color:#004040;
}